@{
    Layout = "~/Views/Shared/_Layout_Blank.cshtml";
    ViewBag.Title = "Login";
}

@Styles.Render("~/bundles/nigmyscomponents/css")
@Styles.Render("~/bundles/signupcomponents/css")

@section Scripts {
@Scripts.Render("~/bundles/validation/js")
@Scripts.Render("~/bundles/sign-up/js")
@Scripts.Render("~/bundles/sha256/js")
@Scripts.Render("~/bundles/nigmyscomponents/js")
}

<div class="content">

    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">
                <div class="panel-heading">
 
                </div>
                <div class="panel-body">
                    <div class="text-center m-b-md" id="wizardControl">
                        <ul class="wizardLine desktop-wizard">
                            <li class="wizard-section activeSection"><a class ="inactive-link" href="#step1" data-toggle="tab"><i class="fa fa-user"></i></a><div class="wizardSubtitle">User Information</div></li>
                            <li class="wizard-section"><a class="inactive-link" href="#step2" data-toggle="tab"><i class="fa fa-folder"></i></a><div class="wizardSubtitle">Personal Information</div></li>
                            <li class="wizard-section"><a class="inactive-link" href="#step3" data-toggle="tab"><i class="fa fa-dollar"></i></a><div class="wizardSubtitle">Payment Information</div></li>
                            <li class="wizard-section"><a class="inactive-link" href="#step4" data-toggle="tab"><i class="fa fa-check"></i></a><div class="wizardSubtitle">Summary Information</div></li>
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div id="step1" class="p-m tab-pane active">
                            <div class="text-center m-b-md mobile-wizard">
                                <div class="wizard-section">
                                    <i class="fa fa-user"></i>
                                </div><br />
                                User Information
                            </div>
                            <form name="userInfoForm" id="userInfoForm">
                                <div class="row form-adjust">
                                    <div class="col-lg-3 text-center">
                                        <p class="small m-t-md">

                                        </p>
                                    </div>
                                    <div class="col-lg-9">
                                        <div class="row">
                                            <div class="form-group col-lg-12">
                                                <label for="username">Username</label>
                                                <input type="text" value="" id="username" class="form-control" name="username">
                                            </div>
                                            <div class="form-group col-lg-6">
                                                <label for="password">Password</label>
                                                <input type="password" value="" id="password" class="form-control" name="password" placeholder="******">
                                            </div>
                                            <div class="form-group col-lg-6">
                                                <label for="repeatPassword">Repeat Password</label>
                                                <input type="password" value="" id="repeatPassword" class="form-control" name="repeatPassword" placeholder="******">
                                            </div>
                                            <div class="form-group col-lg-6">
                                                <label for="email">Email Address</label>
                                                <input type="email" value="" id="email" class="form-control" name="email" placeholder="email@example.com" required="">
                                            </div>
                                            <div class="form-group col-lg-6">
                                                <label for="repeatEmail">Repeat Email Address</label>
                                                <input type="email" value="" id="repeatEmail" class="form-control" name="repeatEmail" placeholder="email@example.com">
                                            </div>
                                            <div class="form-group col-lg-6">
                                                <label for="profilePicture">Profile Picture</label><br />
                                                <div id="fileUpload" class="fileUpload btn btn-success">
                                                    <span>Upload<i class="fa fa-upload uploadIcon"></i></span>
                                                    <input id ="uploadBtn" type="file" class="upload" accept="image/*" />
                                                </div>
                                                <input id="uploadFile" placeholder="Choose Picture" disabled="disabled" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <div class="text-right m-t-xs">
                                <a class="btn btn-default prev" href="#">Previous</a>
                                <a class="btn btn-default" id="userInfoNext" href="#">Next</a>
                            </div>

                        </div>

                        <div id="step2" class="p-m tab-pane">
                            <div class="text-center m-b-md mobile-wizard">
                                <div class="wizard-section">
                                    <i class="fa fa-folder"></i>
                                </div><br />
                                Personal Information
                            </div>
                            <form name="personalInfoForm" id="personalInfoForm">
                                <div class="row form-adjust">
                                    <div class="col-lg-3 text-center">
                                        <i class="pe-7s-user fa-5x text-muted"></i>
                                        <p class="small m-t-md">

                                        </p>
                                    </div>
                                    <div class="col-lg-9">
                                        <div class="row">
                                            <div class="form-group col-lg-6">
                                                <label>First Name</label>
                                                <input type="text" value="" id="firstname" class="form-control" name="firstname">
                                            </div>
                                            <div class="form-group col-lg-6">
                                                <label>Last Name</label>
                                                <input type="text" value="" id="lastname" class="form-control" name="lastname">
                                            </div>
                                            <div class="form-group col-lg-9">
                                                <label>Address</label>
                                                <input type="text" value="" id="address" class="form-control" name="address">
                                            </div>
                                            <div class="form-group col-lg-3">
                                                <label>Zip Code</label>
                                                <input type="text" value="" id="zipcode" class="form-control" name="zipcode">
                                            </div>
                                            <div class="form-group col-lg-3">
                                                <label for="bday">Birthday</label>
                                                <input type="date" value="" id="birthday" class="form-control" name="birthday">
                                            </div>
                                            <div class="form-group col-lg-9">
                                                <label for="companyName">Company Name</label>
                                                <input type="text" value="" id="companyName" class="form-control" name="companyName">
                                            </div>
                                            <div class="checkbox col-lg-12">
                                                <input type="checkbox" class="i-checks" checked name="newsletter">
                                                Sigh up for our newsletter
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>

                            <div class="text-right m-t-xs">
                                <a class="btn btn-default prev" href="#">Previous</a>
                                <a class="btn btn-default" id="personalInfoNext" href="#">Next</a>
                            </div>
                        </div>

                        <div id="step3" class="p-m tab-pane">
                            <div class="text-center m-b-md mobile-wizard">
                                <div class="wizard-section">
                                    <i class="fa fa-dollar"></i>
                                </div><br />
                                Payment Information
                            </div>
                            <div class="row form-adjust">
                                <div class="col-lg-3 text-center">
                                    <i class="pe-7s-credit fa-5x text-muted"></i>
                                    <p class="small m-t-md desktop-wizard">
                                        <strong>It is a long</strong> established fact that a reader will be distracted by the readable
                                        <br /><br />Many desktop publishing packages and web page editors now use
                                    </p>
                                </div>
                                <div class="col-lg-9">
                                    <div class="row">
                                        <div class="form-group col-lg-12">
                                            <label>Name on Card</label>
                                            <input type="text" value="" id="" class="form-control" name="card_name">
                                        </div>
                                        <div class="form-group col-lg-6">
                                            <label>Card Number</label>
                                            <input type="text" value="" id="" class="form-control" name="card_number">
                                        </div>
                                        <div class="form-group col-lg-6">
                                            <label>Billing Address</label>
                                            <input type="text" value="" id="" class="form-control" name="billing_address">
                                        </div>
                                        <div class="form-group col-lg-12">
                                            <div class="row">
                                                <div class="col-xs-4 form-group">
                                                    <label>CVC</label>
                                                    <input class="form-control" placeholder="ex. 381" type="text" name="cvc">
                                                </div>
                                                <div class="col-xs-4 form-group">
                                                    <label>Expiration</label>
                                                    <input class="form-control" placeholder="MM" type="text" name="expire_month">
                                                </div>
                                                <div class="col-xs-4 form-group">
                                                    <label></label>
                                                    <input class="form-control" placeholder="YYYY" type="text" name="expire_year">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="text-right m-t-xs">
                                <a class="btn btn-default prev" href="#">Previous</a>
                                <a class="btn btn-default next" href="#">Next</a>
                            </div>

                        </div>
                        <div id="step4" class="p-m tab-pane">
                            <div class="text-center m-b-md mobile-wizard">
                                <div class="wizard-section">
                                    <i class="fa fa-check"></i>
                                </div><br />
                                Summary Information
                            </div>
                            <div class="row text-center m-t-lg m-b-lg form-adjust">
                                <div class="col-lg-12">
                                    <i class="pe-7s-check fa-5x text-muted desktop-wizard"></i>
                                    <p class="small m-t-md">
                                        <strong>There are many</strong> variations of passages of Lorem Ipsum available, but the majority have suffered
                                    </p>
                                </div>
                                <div class="checkbox col-lg-12">
                                    <input type="checkbox" class="i-checks approveCheck" name="approve">
                                    Approve this form
                                </div>
                            </div>
                            <div class="text-right m-t-xs">
                                <a class="btn btn-default prev" href="#">Previous</a>
                                <a class="btn btn-success next" id="submitButton" href="#">Submit</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>





<!-- Section for main scripts render -->
<script src="/Vendor/jquery/dist/jquery.min.js"></script>

<script src="/Vendor/bootstrap/dist/js/bootstrap.min.js"></script>

<script src="/Vendor/metisMenu/dist/metisMenu.min.js"></script>
<script src="/Vendor/iCheck/icheck.min.js"></script>
<script src="/Vendor/peity/jquery.peity.min.js"></script>
<script src="/Vendor/sparkline/index.js"></script>
<script src="/Scripts/homer.js"></script>
<script src="/Scripts/charts.js"></script>


<!-- Handler for local scripts -->


<!-- Visual Studio Browser Link -->
<script type="application/json" id="__browserLink_initializationData">
    {"appName":"Chrome","requestId":"8d03b7862169413d95bf91aa7b558735"}
</script>
<script type="text/javascript" src="http://localhost:49738/c616f5cb274e4c40837a5e98f3a56aec/browserLink" async="async"></script>
<!-- End Browser Link -->